a {
  color: #1b73e7;
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 1.8;
}

.background {
  overflow: hidden;
  background-color: #fffff7;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 2rem auto 4rem auto;
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.header p {
  margin-top: 1rem;
}

.title {
  font-family: "Playfair Display";
  font-size: 2rem;
  color: #dcbe9a;
  margin: 0;
}

.imageBlock img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageSmall {
  display: none;
}

.venueImage {
  display: block;
  margin: 0 auto 1.5rem auto;
}

.about {
  max-width: 800px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.venueDirections {
  background-color: #1b73e7;
  color: #ffffff;
  display: inline-flex;
  text-decoration: none;
  line-height: 1;
  border-radius: 100px;
  padding: 0.75rem 1rem;
  transition: background-color 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: 900;
}

.venueDirections:focus,
.venueDirections:hover {
  background-color: #115cbf;
}

.venueDirections svg {
  fill: #fff;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
}

.footer {
  text-align: center;
  margin-top: 3rem;
}

@media (min-width: 800px) {
  .wrapper {
    width: 95%;
    margin: 4rem auto;
  }

  .title {
    font-size: 3rem;
    /* margin-bottom: 2rem; */
  }

  .header {
    margin-bottom: 2rem;
  }

  .imageBlock {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  .imageLarge {
    flex: 0 0 calc(60% - 0.5rem);
  }

  .imageSmall {
    display: block;
    flex: 0 0 calc(40% - 0.5rem);
  }

  .footer {
    margin-bottom: 6rem;
  }
}

@media (min-width: 960px) {
  .wrapper {
    width: 90%;
  }
}
