.background {
  background-color: #656d55;
  color: #e0d8c8;
  overflow: hidden;
}

button,
input {
  font-family: "Sofia Pro";
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 4rem auto;
}

.intro {
  margin-bottom: 2rem;
}

.title {
  font-family: "Playfair Display";
  font-size: 2rem;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  font-weight: 300;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 1rem;
}

button {
  border-radius: 4px;
  cursor: pointer;
  padding: 1rem 0.5rem;
  font-weight: 400;
  transition: background-color 0.1s ease-in-out;
}

.errors {
  background-color: #e0d8c8;
  color: #656d55;
  font-size: 0.875rem;
  margin-bottom: 3rem;
  text-align: center;
  padding: 0.5rem;
}

.controlsMutliple {
  display: flex;
  justify-content: space-between;
}

.controlAdd,
.controlSubmit {
  flex: 0 0 49%;
}

.controlAdd {
  border-radius: 4px;
  color: #e0d8c8;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  width: 100%;
}

.controlAdd:hover,
.controlAdd:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.controlSubmit {
  background-color: transparent;
  color: #e0d8c8;
  border: 2px solid #e0d8c8;
  width: 100%;
}

.controlSubmit:hover,
.controlSubmit:focus {
  background-color: #e0d8c8;
  color: #656d55;
}

fieldset {
  border: none;
  margin: 0;
  padding: 2.5rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

label {
  margin-bottom: 0.5rem;
}

input {
  font-family: "Sofia Pro";
}

label,
input[type="text"],
input[type="email"],
textarea {
  display: block;
  font-size: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 0.5rem;
}

@media (min-width: 800px) {
  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 8rem auto;
  }

  .wrapperCentered {
    align-items: center;
  }

  .intro {
    flex: 0 0 38%;
    margin-bottom: 0;
  }

  .main {
    flex: 0 0 58%;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.8;
  }

  button {
    font-size: 1rem;
  }

  fieldset {
    padding: 2rem;
  }

  label {
    font-size: 1rem;
  }
}

.message {
  border: none;
  margin: 0;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
}

.message p {
  margin-bottom: 0.5rem;
}

.message button {
  margin-top: 0.5rem;
}

.message *:last-child {
  margin-bottom: 0;
}

.messageLoadingIcon {
  display: inline-block;
  fill: #fff;
  height: 32px;
  width: 32px;
  animation: 1s ease-in-out 0s infinite forwards loading;

  transition: transform;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
