.background {
  overflow: hidden;
  background-color: #fffff7;
  background-image: url("../../../public/larkspur.jpg");
}

.wrapper {
  padding: 2rem;
  background-color: #fff;
  width: 90%;
  max-width: 960px;
  margin: 6rem auto;
}

.wrapper p {
  font-size: 1rem;
  line-height: 1.8;
}

.wrapper a {
  text-decoration: none;
}

.title,
.footer {
  text-align: center;
}

.title {
  font-family: "Playfair Display";
  font-size: 2rem;
  color: #dcbe9a;
  margin: 0;
}

.info {
  margin: 2rem auto;
}

.cta {
  display: inline-block;
  background-color: #eaac8c;
  color: #ffffff;
  text-decoration: none;
  border-radius: 100px;
  padding: 0.75rem 1.25rem;
  transition: background-color 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: 900;
}

.cta:focus,
.cta:hover {
  background-color: #d3987a;
}

@media (min-width: 800px) {
  .wrapper {
    padding: 2rem 3rem 3rem 3rem;
    margin: 8rem auto;
  }

  .title {
    font-size: 3rem;
  }

  .header {
    margin-bottom: 2rem;
  }
}

@media (min-width: 960px) {
  .wrapper {
    width: 90%;
  }
}
