.background {
  overflow: hidden;
  background-color: #f8bd97;
}

.wrapper {
  width: 90%;
  max-width: 600px;
  margin: 4rem auto 6rem auto;
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  font-family: "Playfair Display";
  font-size: 2rem;
  color: #ffffff;
  margin: 0;
}

.subtitle {
  display: inline-block;
  padding: 1rem 2.5rem;
  color: #d7814a;
  border: 3px solid #d88f60;
  margin-top: 1.5rem;
}

.subtitle p {
  margin: 0;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 2rem;
  margin-bottom: 0;
}

.list li:not(:last-of-type) {
  margin-bottom: 3rem;
}

.list h3 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Playfair display";
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 800px) {
  .wrapper {
    width: 95%;
    margin: 6rem auto 8rem auto;
  }

  .title {
    font-size: 3rem;
    /* margin-bottom: 2rem; */
  }

  .header {
    margin-bottom: 2rem;
  }
}

@media (min-width: 960px) {
  .wrapper {
    width: 90%;
  }
}
