svg {
  display: block;
}

form p {
  margin-bottom: 0;
}

.wrap {
  position: relative;
}

.field {
  margin-bottom: 1rem;
}

input {
  width: 100%;
  font-size: 0.875rem;
  color: #333333;
}

.errorText {
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 0.25rem;
}

.toggle,
.remove {
  background-color: transparent;
  position: absolute;
  top: 0;
  border: none;
  opacity: 0.25;
  transition: opacity 0.1s ease-in-out;
}

.toggle {
  left: 0;
  padding: 0.5rem;
}

.remove {
  right: 0;
  padding: 0.75rem;
}

.toggle:hover,
.toggle:focus,
.remove:hover,
.remove:focus {
  opacity: 1;
}

.toggle svg,
.remove svg {
  display: block;
  fill: rgba(0, 0, 0, 0.75);
}

.toggle:hover svg,
.toggle:focus svg,
.remove:hover svg,
.remove:focus svg {
  fill: #e0d8c8;
}

.remove svg {
  width: 1rem;
  height: 1rem;
}

.toggle svg {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(90deg);
}

.fieldsCollapsed {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.fieldRadio {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fieldRadioOptions {
  display: flex;
  align-items: center;
}

.fieldRadioOption {
  flex: 1 1 auto;
}

.fieldRadioOptionInput {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.fieldRadioOptionLabel {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 0;
}

.fieldRadioOption:first-of-type .fieldRadioOptionLabel {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.fieldRadioOption:not(:last-of-type) .fieldRadioOptionLabel {
  margin-right: 1px;
}

.fieldRadioOption:last-of-type .fieldRadioOptionLabel {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.fieldRadioOptionInput:checked + .fieldRadioOptionLabel {
  background-color: #e0d8c8;
  color: #656d55;
}
