.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.trigger {
  color: #000;
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  width: 100%;
  border: none;
  background: none;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navArrow {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.5rem;
}

.nav ul {
  padding-left: 0;
  max-width: 800px;
  margin: 0 auto;
  height: 0;
  overflow: hidden;
}

.nav li {
  list-style-type: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav a {
  display: block;
  color: inherit;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.1s ease-in-out;
  padding: 1rem;
}

.navOpen {
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.navOpen ul {
  height: auto;
}

.navOpen .navArrow {
  transform: rotate(180deg);
}

@media (min-width: 800px) {
  .trigger {
    display: none;
  }

  .nav ul {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .nav li {
    border-top: none;
    padding: 1rem;
  }

  .nav a {
    padding: 0;
  }

  .nav a:focus,
  .nav a:hover {
    border-bottom: 2px solid #ff6766;
  }
}
